bin/Debug/net5.0/appsettings.Development.json
bin/Debug/net5.0/appsettings.json
bin/Debug/net5.0/github.io.deps.json
bin/Debug/net5.0/github.io.dll
bin/Debug/net5.0/github.io.exe
bin/Debug/net5.0/github.io.pdb
bin/Debug/net5.0/github.io.runtimeconfig.dev.json
bin/Debug/net5.0/github.io.runtimeconfig.json
bin/Debug/net5.0/github.io.Views.dll
bin/Debug/net5.0/github.io.Views.pdb
bin/Debug/net5.0/Properties/launchSettings.json
