---
---

@import "{{ site.theme }}";


body {
    background-color: black;
}

.page-header {
    background-color: blue;
    background-image: linear-gradient(120deg, #002d5a, #11035f);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #87ceeb;
}